.filter {
  background-color: #5b5b5b;
  padding: 4px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Rubik, sans-serif;
}

.filter__list {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  padding: 0;
  list-style-type: none;
  color: #c0c0c0;
  text-transform: uppercase;
  font-family: Rubik, sans-serif;
}
