.header {
  font-family: inherit;
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  padding: 10px 40px;
}

.header__left {
  display: flex;
}

.logo {
  width: 170px;
  margin-right: 33px;
}

.header_nav {
  display: flex;
  align-items: center;
  margin-left: 63px;
}

.header_nav button {
  color: #777777;
  font-family: inherit;
  text-transform: uppercase;
  text-align: center;
  padding: 6px 12px;
  background-color: transparent;
  border: none;
  border-radius: 0;
}

.header_nav button + button {
  margin-left: 16px;
}

.header_nav button:focus {
  background-color: #a6192e;
  color: white;
  font-weight: 700;
}

.header_right {
  display: flex;
  align-items: center;
}
